<div class="container">



<button class="btn btn-dark  btn-lg" (click)="SyncCategories()">Sync  <i class="fas fa-sync-alt"></i> </button>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped dt-responsive nowrap"   style="width:100%">
 
    <thead>
      <tr>
        <th>Category Code</th>
        <th>Category Name</th>
        <th>Ecom Enable Category</th>
        
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let com of Categoriesdata | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{com.CatCode}}</td>
        <td>{{com.CatName}}</td>
        <td>
             <label  class="switch switch-green">
            <input type="checkbox" class="switch-input" [checked]=com.Enabled (change)="UpdateCategory($event,com.CatCode,com.CatName)">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </td>
        
     
      </tr>
    </tbody>
  </table>
  <ngb-pagination  [pageSize] = "pageSize" [maxSize]="10" [collectionSize]="collection" [(page)]="page"  [rotate]="true" [boundaryLinks]="true" ></ngb-pagination>
</div>
  


 

<!-- <div class="container" id="no-more-tables">
  <p>&nbsp;</p>
  <table class="table table-hover">
    <thead>
      <tr class="active">
        <th class="col-xs-2"><strong>WO Ref</strong></th>
        <th class="col-xs-2"><strong>Reported</strong></th>
        <th class="col-xs-6"><strong>Type</strong></th>
        <th class="col-xs-2"><strong>Completed</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr role="button" data-toggle="collapse" href="#demo1" aria-expanded="false" aria-controls="demo1">
        <td data-title="WO Ref">12345</td>
        <td data-title="Reported">12/05/2015</td>
        <td data-title="Type">A plumbing job</td>
        <td data-title="Completed">01/06/2015</td>
      </tr>
      <tr>
        <td colspan="6" class="hiddenRow">
          <div class="collapse" id="demo1">
            <table class="table table-nested">
              <tbody>
                <tr>
                  <td class="col-xs-4 col-sm-2 active"><strong>Description</strong></td>
                  <td>07777 123456 ferroli flashing</td>
                </tr>
                <tr>
                  <td class="col-xs-4 col-sm-2 active"><strong>Action taken</strong></td>
                  <td>
                    The work was completed by the contractor on 04-FEB-2013
                  </td>
                </tr>
                <tr>
                  <td class="col-xs-4 col-sm-2 active"><strong>Contractor name</strong></td>
                  <td>
                    PMD North West
                  </td>
                </tr>
                <tr>
                  <td class="col-xs-4 col-sm-2 active" rowspan="2"><strong>Job lines</strong></td>
                  <td>
                    1. Gutter:Clean/Flush Out(Per Elev) Gutter
                  </td>
                </tr>
                <tr>
                  <td>
                    2. Inspection:Provide/Erect Ladder Inspection
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr role="button" data-toggle="collapse" href="#demo2" aria-expanded="false" aria-controls="demo2">
        <td data-title="WO Ref">67890</td>
        <td data-title="Reported">20/04/2015</td>
        <td data-title="Type">An electrical job</td>
        <td data-title="Completed">01/05/2015</td>
      </tr>
      <tr>
        <td colspan="6" class="hiddenRow">
          <div class="collapse" id="demo2">
            <table class="table">
              <tbody>
                <tr>
                  <td class="col-xs-4 col-sm-2 active"><strong>Description</strong></td>
                  <td>07777 123456 ferroli flashing fault </td>
                </tr>
                <tr>
                  <td class="col-xs-4 col-sm-2 active"><strong>Action taken</strong></td>
                  <td>
                    The work was completed by 
                  </td>
                </tr>
                <tr>
                  <td class="col-xs-4 col-sm-2 active"><strong>Contractor name</strong></td>
                  <td>
                    PMD North West
                  </td>
                </tr>
                <tr>
                  <td class="col-xs-4 col-sm-2 active" rowspan="2"><strong>Job lines</strong></td>
                  <td>
                    1. Gutter:Clean/Flush Out(Per Elev) Gutter
                  </td>
                </tr>
                <tr>
                  <td>
                    2. Inspection:Provide/Erect Ladder Inspection
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->